{% extends "carbmonitor/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
{% load static %}
    <div class="container mt-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h2>Calculadora de Carboidratos</h2>

            <form class="input-group mb-3" id="search-form" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="search-box" id="search-box" placeholder="Digite o nome do alimento" aria-label="Alimento à buscar" aria-describedby="Barra de busca" autocomplete="off">
                <div class="input-group-append">
                    <button style="border-radius: 0"class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            <div id="resultado-busca"></div>
            
            <script>
                document.getElementById('search-form').addEventListener('submit', function (event) {
                    event.preventDefault();  
                    const query = document.getElementById('search-box').value;
                    buscarAlimento(query);
                });
            
                function buscarAlimento(query) {
                    fetch(`/buscar-alimento/?q=${query}`, { method: 'GET' })
                        .then(response => response.json())
                        .then(data => {
                            const alimentos = data.alimentos;
                            const resultadoDiv = document.getElementById('resultado-busca');
                            resultadoDiv.innerHTML = '';  // Limpa o conteúdo anterior
                            console.log(alimentos)
                            if (alimentos.length > 0) {
                                const ul = document.createElement('ul');
                                alimentos.forEach(alimento => {
                                    const li = document.createElement('li');
                                    if (alimento.brandOwner){
                                        li.textContent = `${alimento.description} - ${alimento.brandOwner}`;
                                    } else {
                                        li.textContent = `${alimento.description}`;
                                    }
                                    
                                    ul.appendChild(li);
                                });
                                resultadoDiv.appendChild(ul);
                            } else {
                                resultadoDiv.textContent = 'Nenhum alimento encontrado.';
                            }
                        })
                        .catch(error => console.error('Erro na busca:', error));
                }
            </script>
        </div>
    </div>

{% endblock %}