{% extends "carbmonitor/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Carb Counting and Diabetes</h1>
    <p>Carbohydrates are nutrients found in certain foods such as grains, sweets, starches, legumes, and dairy products. When we consume beverages or foods containing carbohydrates, they are converted into glucose, which enters our bloodstream. This raises blood glucose levels, prompting the body to produce insulin to maintain them within acceptable ranges.</p>
    <p>For people with diabetes, this process does not function properly.</p>
    <h2>Type 1 Diabetes</h2>
    <p>If you have type 1 diabetes, your pancreas produces little or no insulin, which must be administered externally to control blood glucose. To determine the correct amount of insulin to administer, it is important to know how to count the carbohydrates you are ingesting.</p>
    <h2>Type 2 Diabetes</h2>
    <p>Since people with type 2 diabetes have insulin resistance, it is important to be aware of carbohydrate intake. To avoid high glucose levels, it is beneficial to maintain a consistent amount of carbohydrates in meals throughout the day rather than consuming them all at once.</p>
    <p>Therefore, carb counting is a very useful tool for controlling blood glucose levels.</p>
    <h2>How to Count Carbohydrates</h2>
    <p>Simply count the grams of carbohydrates in each meal and then apply the correct dose of insulin according to the carbohydrates ingested. This dosage of insulin for correction is known as a meal bolus.</p>
    <p>To perform the meal bolus correctly, you need to use the insulin-to-carbohydrate ratio. This ratio defines how much carbohydrate one unit of insulin can metabolize. Remember, this factor is unique to each person and should be discussed with a specialist doctor to determine it appropriately.</p>
    <p>After determining the insulin-to-carbohydrate ratio, you need two other pieces of information for accurate counting: the portion size of the food consumed and the amount of digestible carbohydrates per portion.</p>
    <h3>Portion Size</h3>
    <p>This is the amount of food in the meal. It is usually measured in units of weight (grams) but can also be given in pieces, slices, units, cups, etc.</p>
    <h3>Digestible Carbohydrates</h3>
    <p>This is the amount of carbohydrates per portion of food that can be digested during the meal. It should not be confused with the total carbohydrates in a food, as these include carbohydrates that are not digestible.</p>
    <p>All this information can be found in the nutritional information tables on food products. If the product does not have this table, such as fruits and vegetables, there are tools available that provide this information (such as the carbohydrate calculator available on this site!).</p>
    <h3>References:</h3>
    <ul>
        <li><a href="https://diabetes.org/healthy-living/recipes-nutrition/understanding-carbs/carb-counting-and-diabetes">Carb Counting and Diabetes | ADA</a></li>
        <li><a href="http://www.tbca.net.br/index.html">TBCA - Brazilian Food Composition Table</a></li>
    </ul>
{% endblock %}