body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 20px;
    line-height: 30px;
    color: #414141;
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5{
    font-size: 38px;
    line-height: 45px;
    color: #283891;
    margin-bottom: 15px;
}

.border-round {
    border-radius: 12rem 12rem 12rem 12rem;
    border: none;
}