.container {
    background-color: aqua;
}

p {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    font-size: 16px;               /* Define o tamanho da fonte */
    color: #333;                   /* Define a cor do texto */
    line-height: 1.5;              /* Define a altura da linha */
    text-align: justify;           /* Define o alinhamento do texto */
    margin: 20px 0;                /* Define as margens superior e inferior */
    padding: 10px;                 /* Define o preenchimento interno */
}
