body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 20px;
    line-height: 30px;
    color: #414141;
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5{
    font-size: 38px;
    line-height: 45px;
    color: #283891;
    margin-bottom: 15px;
}

.border-round {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: none;
    max-width: 80% !important;
    max-height: 100%;
}

.text_body p {
    text-align: justify;
}

@media (width < 1000px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 75%;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 2rem;
  }