{% extends "carbmonitor/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
{% load static %}
    <div class="container mt-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h2>Calculadora de Carboidratos</h2>
            <div class="d-flex flex-column">
                <form class="input-group mb-3" id="busca-alimento" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control search-box" name="alimento" placeholder="Digite o nome do alimento" aria-label="Alimento à buscar" aria-describedby="Barra de busca" autocomplete="off">
                    <div class="input-group-append">
                        <button style="border-radius: 0"class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                <ul class="input-group p-0 result-box" ></ul>
            </div>
            
            <script>
                let debounceTimer;
                const resultBox = document.querySelector(".result-box");
                const searchBox = document.querySelector(".search-box");
            
                searchBox.onkeyup = () => {
                    clearTimeout(debounceTimer);
                    debounceTimer = setTimeout(buscaAlimento, 300);  // Delay de 300ms
                };
            
                async function buscaAlimento() {
                    const query = searchBox.value.trim();
            
                    if (query.length > 0) {
                        const url = `/buscar_alimento?query=${query}`;
                        try {
                            const response = await fetch(url);
                            if (!response.ok) {
                                throw new Error('Problema na resposta');
                            }
                            const data = await response.json();
                            
                            // Exibe os resultados
                            resultBox.innerHTML = '';
                            data.forEach(item => {
                                const li = document.createElement('li');
                                li.textContent = `${item.nome} - ${item.carboidratos_totais_100g}g de carboidratos`;
                                resultBox.appendChild(li);
                            });
            
                        } catch (error) {
                            console.error('Erro buscando dados:', error);
                        }
                    } else {
                        resultBox.innerHTML = '';
                    }
                }
            </script>
        </div>
    </div>

{% endblock %}